<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Navigation bar</title>
</head>

<body background="{% static '16.png'%}">
    <header>
        <div id="brand"><a href="/">Welcome {{current_user}},</a></div>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="breakfast">Breakfast (Easy)</a></li>
                <li><a href="lunch">Lunch (Medium)</a></li>
                <li><a href="dinner">Dinner (Hard)</a></li>
                <li id="signup"><a href="logout">logout</a></li>
            </ul>
        </nav>
        <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
            <ul class="mobile-menu">
                <li><a href="home">Home</a></li>
                <li><a href="breakfast">Breakfast (Easy)</a></li>
                <li><a href="lunch">Lunch (Medium)</a></li>
                <li><a href="dinner">Dinner (Hard)</a></li>
                <li id="Profile"><a href="logout">logout</a></li>
            </ul>
        </div>
    </header>
    <header>
        <h1>Dinner</h1>
    </header>
    <main>
        <h2>Hard:</h2>
        <ul id="game-list">
            <li>
                <img src="{% static 'crossword1.jpg'%}" alt="Game Thumbnail">
                <h3> <a href="multiplication_game">Multiplication Game</a> </h3>
            </li>
            <li>
                <img src="{% static 'Shape.jpg'%}" alt="Game Thumbnail">
                <h3><a href="Game/Shape Arthetmatic/index.html">Mad Angles</a></h3>
            </li>
            <li>
                <img src="{% static 'WhatsApp Image 2023-02-04 at 23.54.32.jpg' %}" alt="Game Thumbnail">
                <h3><a href="crossword">Crossword</a></h3>
            </li>
        </ul>
    </main>
    <script src="{% static 'index.js' %}"></script>
</body>

</html>